@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap");

/*

If you don't have an internet connecton you can use local fonts.
@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora-Regular.ttf");
}

@font-face {
    font-family: "Sora";
    src: url("../fonts/Sora-Bold.ttf");
}*/

:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --white: #ffffff;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Sora", sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: var(--dark);
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-bg {
  background-color: var(--dark);
}

.navbar {
  box-shadow: var(--box-shadow);
}

.logo {
  width: 160px;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.logos {
  color: #ffffff;
}

.hero {
  background-image: url(../img/cover.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}

.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(21, 20, 51, 0.8);
  z-index: -1;
}

/* Slider */

.item-carousel img {
  width: 100%;
  height: 40vh;
  background: no-repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover;
}

.carousel-caption {
  bottom: 75px;
}

.item-carousel::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.7;
}

.item-carousel h1 {
  font-size: 1.5rem;
}

.section {
  /* pt 120px */
  padding-top: 120px;
  padding-bottom: 120px;
}

/* Workingspace */
.workingspace {
  /* 80px */
  margin-top: 80px;
}

.section-home {
  /* pt 120px */
  margin-top: 25px;
  padding-bottom: 120px;
}

/* Workingspace */
.workingspace-home {
  /* 80px */
  margin-top: 25px;
}

.workingspace h3 {
  font-size: 1.8rem;
  font-weight: 200;
}

.workingspace p {
  font-size: 18px;
  color: #acacac;
  font-weight: 200;
  margin: 25px 0;
}

.card-effect {
  box-shadow: var(--box-shadow);
  background-color: var(--white);
  padding: 25px;
  transition: all 0.35s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px);
}

.iconbox {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--white);
  font-size: 32px;
  border-radius: 100px;
  flex: none;
}

.oflow {
  overflow: auto;
  height: 200px;
}

.service {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.service::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: var(--primary);
  z-index: -1;
  opacity: 0;
  transition: all 0.4s ease;
}

.service:hover .iconbox {
  background-color: var(--white);
  color: var(--primary);
}

.service:hover h5,
.service:hover p {
  color: var(--white);
}

.service:hover::after {
  opacity: 1;
  top: 0;
}

.swiper-portfolio-icon {
  font-size: 4rem;
  color: black;
}

.team-member img {
  width: 125px;
  height: 125px;
  border-radius: 100px;
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons a {
  width: 34px;
  height: 34px;
  background-color: var(--primary);
  border-radius: 2px solid var(--primary);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin-left: 5px;
  transition: all 0.4s ease;
  border: 2px solid var(--primary);
}

.social-icons a:hover {
  color: var(--primary);
  background-color: transparent;
  border-color: var(--primarys);
}

/* Footer */

.footer-top {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: var(--dark);
}

.footer-top a {
  color: var(--body);
}

.footer-top a:hover {
  color: var(--white);
}

.footer-bottom {
  background-color: #242933;
}

.left,
.right {
  opacity: 0;
}

.item {
  transition: 0.5s ease-in-out;
}

.item:hover {
  filter: brightness(80%);
}

/* Whatsapp */
.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 5px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* Media Queries */

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Carousel */
  .item-carousel h1 {
    font-size: 3rem;
  }
  .carousel-caption {
    bottom: 280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .section-home {
    /* pt 120px */
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* Workingspace */
  .workingspace-home {
    /* 80px */
    margin-top: 80px;
  }

  .hidden {
    display: none;
  }

  .left {
    opacity: 1;
    margin-top: 50px;
    margin-left: -220px;
  }

  .right {
    opacity: 1;
    margin-top: 50px;
    margin-left: 220px;
  }

  .mt-3 {
    margin-top: 0rem !important;
  }
  .nav-bg {
    background-color: transparent;
  }

  /* Slider */

  .item-carousel img {
    width: 100%;
    height: 100vh;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
  }

  /* Show scrollll */
  .show-whatsapp {
    display: none;
  }
}

/* for mobile */
@media screen and (max-width: 768px) {
  .whatsapp-icon {
    margin-top: 10px;
  }
  .whatsapp_float {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 10px;
    font-size: 38px;
  }
}
